<div class="main <?=$this->viewClass?>">
	<?=$this->messages?>
	<?php if($this->domains == null): ?>
		<p>Geen resultaten gevonden.</p>
	<?php else: ?>
		<?php foreach($this->domains as $domain): ?><a class="buttons " href="frame.php?domain=<?=$domain->getName()?>">
				<img src="<?=$domain->getThumbnail()?>" alt="portfolio <?=$domain->getClientName()?>">
				<h2><?=$domain->getPageTitle()?></h2>
				<p><?=$domain->getClientName()?></p>
				<p><?=$domain->getLocation()?></p>
			</a><?php endforeach; ?>
			
			<?php if($this->page_total > 1): ?>
			<div class="pagination">
				<?php if($this->page_number > 1): ?>
					<a class="arrow-left" href="?page=<?=$this->page_number -1?>"></a>
				<?php endif; ?>
				<p class="pagenumber">pagina <?=$this->page_number?></p>
				<?php if($this->page_domainOffset < $this->page_domainTotal - $this->page_domainCount): ?>
					<a class="arrow-right" href="?page=<?=$this->page_number +1?>"></a>
				<?php endif; ?>
			</div>
			<?php endif ?>
	<?php endif; ?>
</div>