<div class="menu">
	<a class="homebutton button" href="index.php"></a>
	<a class="locatieFilter <?=$this->lwdButtonClass?>" href="index.php?loc=L">Leeuwarden</a>
	<a class="locatieFilter <?=$this->grnButtonClass?>" href="index.php?loc=G">Groningen</a>

	<form class="zoekFilters" method="get">
		<input id="zoekveld" name="q" type="text" placeholder="zoeken" class="zoekveld" value="<?=$this->query?>"/>
		<?php if($this->loc): ?><input type="hidden" name="loc" value="<?=$this->loc?>"><?php endif; ?>
		<button type="submit" id="zoekbutton" class="zoek button"></button>
		<button type="button" id="viewType" class="<?=$this->viewClass?> button"></button>
	</form>
</div>