﻿* {
	padding: 0px;
	margin: 0px;
}

body {
	background-color: #e8e8e8;
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	color: #ffffff;
}

p {
	margin: 10px 0px;
}

.container {
	width: 1100px;
	margin: auto;
}

.top {
	height: 150px;
	margin-top: 10px;
	margin-bottom: 0px;
	background-color: #c5d800;
}

.top img {
	display: block;
	margin: auto;
	padding: 10px;
	padding-top: 19px;
}

.top .logo2 {
	float: right;
	margin-top: 50px;
	width: 313px;
}

.menu {
	height: 50px;
	margin-top: 0px;
	margin-bottom: 0px;
    position: relative;
	background-color: #0099a1;
}

.menu .button {
    height: 50px;
    width: 50px;
    border: none;
    display: inline-block;
	cursor: pointer;
}

.menu .homebutton {
	background: url(img/Home_final.png);
	float: left;
}

.menu .homebutton:hover {
	background: url(img/Home_final_hover.png);
}

.menu .zoekveld {
	height: 29px;
    vertical-align: top;
    margin-top: 10px;
    border: none;
    padding: 0px 5px;	
}

.menu .zoek {
    background: url(img/zoekicon_final.png);
}
.menu .zoek:hover {
    background: url(img/zoekicon_final_hover.png);
}

.menu .grid {
    background: url(img/Tiles_final.png);
}
.menu .grid:hover {
    background: url(img/Tiles_final_hover.png);
}

.menu .list {
    background: url(img/List_final.png);
}
.menu .list:hover {
    background: url(img/List_final_hover.png);
}

.zoekFilters {
    float: right;
}

.locatieFilter {
	display: inline-block;
    line-height: 50px;
    padding: 0px 20px;
	text-transform: uppercase;
}

.pressed {
	color: #000000;
}

a {
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	color: #000000;
}

.main {
	height: auto;
	padding: 75px 0px 20px 30px;
	background-color: #f7fae6;
	color: #000000;
}

.grid .buttons {
	width: 320px;
	height: 300px;
	position: relative;
	margin-bottom: 25px;
	margin-right: 25px;
	display: inline-block;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.30);
	-moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.30);
	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.30);
	text-align: center;
	padding: 5px;
	font-size: 14px;
	background-color: #0099a1;
	top: 0px;
	transition: top 0.3s, box-shadow 0.3s, -moz-box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.grid .buttons:hover {
	top: -5px;
	box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.30);
	-moz-box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.30);
	-webkit-box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.30);
}

.grid .buttons img {
	width: 320px;
	height: 240px;
}

.grid .buttons h2 {
	font-size: 20px;
	white-space: nowrap;
	overflow: hidden;
	height: 30px;
}

.grid .buttons p:nth-of-type(1) {
	float: left;
	margin: 0px 20px;
}
.grid .buttons p:nth-of-type(2) {
	float: right;
	margin: 0px 20px;
}

.list .buttons {
    display: block;
	width: 1000px;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    line-height: 40px;
    background: #0099A1;
}

.list .buttons h2, .list .buttons p {
	display: inline-block;
    font-size: 16px;
    font-weight: normal;
	width: 300px;
	white-space: nowrap;
	padding-left: 10px;
	line-height: 10px;
}

.list img {
	display: none;
}

.pagination {
	text-align: center;
	margin-right: 30px;
}

.pagination .pagenumber {
	display: inline-block;
	position: relative;
	top: -4px;
	margin: 20px 20px;
}

.pagination .arrow-left {
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 20px 10px 0;
	border-color: transparent #0099a4 transparent transparent;
}

.pagination .arrow-left:hover {
	border-color: transparent #000000 transparent transparent;
}

.pagination .arrow-right {
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 0 10px 20px;
	border-color: transparent transparent transparent #0099a1;
}

.pagination .arrow-right:hover {
	border-color: transparent transparent transparent #000000;
}

.footer {
	height: 150px;
	margin-bottom: 10px;
	clear: both;
	color: #ffffff;
	background-color: #0099A1;
}

.address {
	margin-top: 20px;
}

.address ul {
	list-style: none;
	padding: 10px 20px;
	display: block;
}

.address img {
	height: 110px;
	width: 150px;
}

.float-left {
	float: left;
	margin-left: 20px;
}

.float-right {
	float: right;
	margin-right: 20px;
}

.backToTop {
	right: 25px;
    bottom: 25px;
	background: url(img/back%20to%20top_final.png);
	display: none;
	height: 50px;
	width: 50px;
    position: fixed;
	opacity: 0.5;
	transition: opacity 0.5s;
}

.backToTop:hover {
	opacity: 1;
}